{% extends 'app/base.html' %}

{% block content %}

<div class="cast-detail">
    <div class="cast-detail-box">
        <div class="cast-detail-image">
            <img src="https://image.tmdb.org/t/p/w342{{ cast_detail_list.image }}" alt="画像です">
        </div>
        <div class="cast-detail-content">
            <h3>{{ cast_detail_list.name }}</h3>
            <h6>生年月日 {{ cast_detail_list.birthday }}</h6>
            <div class="cast-detail-bio">
                <h5>プロフィール</h5>
                <p>{{ cast_detail_list.biography }}</p>
            </div>
             
        </div>
    </div>
    <div class="rela-list">
        <h5>関連作品</h5>
    </div>
    <div data-simplebar style="max-width: 1084px; overflow-x: auto;">
        <div class="cast-container">
        
          {% for cast in cast_film_list %}
          <div class="cast-item"> 
            <a href="{% url 'detail' cast.cinema_id  %}"><img src="https://image.tmdb.org/t/p/w154/{{ cast.image }}"></a>
            <h5>{{ cast.film_title }}</h5>
            <h6>{{ cast.releasedate }}</h6>
          </div>
          {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const scrollableElement = document.querySelector('[data-simplebar]');
          new SimpleBar(scrollableElement, { autoHide: false });
        });
    </script>
</div>
{% endblock %}